<style>
   #per-config {
   border: 1px solid;
}

.height-section {
    display: block;
}

.racial-settings {
  display: flex;
  flex-wrap: wrap;
}
  
.racial-settings .racial-setting {
    border: 1px solid;
    border-radius: 1px;
    padding: 1px;
    margin: 1px;
    position: relative;
    max-width: 49%;
}

.racial-settings .racial-setting label {      
    display: block;
    margin: 1px 1px;
}
 
.racial-settings .racial-setting label span {
    min-width: 150px;
    display: inline-block;
    }

.racial-settings .racial-setting .remove-item {
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
}

.raceTextInput{
    width: 39%;
}

.bgTemplate{
    border: 1px solid;
}

.smallSelect{
    max-width: 15%;
}

.inputLarge{
    min-width: 90%;
}

.menuButton{
    width: 30%;
    height: 72pt;
    font-size: large;
}

.menuButtonRow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.NPCselect{
    width: 99%;
}

.forceNPCselect{
    width: 40%;
}

.forceNPCAssetPackselect{
    width:75%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300pt;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>



<h2>zEBD NPC Customizer</h2>

<section>
    <ignore-plugins patcher-id="zEBD"></ignore-plugins>
</section>
    
<section>
    <section class="menuButtonRow">
        <button class="menuButton" ng-click="currentSettingsDisplay = 'main'">Main Menu</button>
        <button class="menuButton" ng-click="currentSettingsDisplay = 'assetPack'">Texture & Mesh Settings</button>
        <button class="menuButton" ng-click="currentSettingsDisplay = 'height'">Height Randomization Settings</button>
    </section>
    <section class="menuButtonRow">       
        <button class="menuButton" ng-click="currentSettingsDisplay = 'bodygen'">BodyGen Integration Settings</button>
        <button class="menuButton" ng-click="currentSettingsDisplay = 'forcedNPCs'; refreshFilters()">Specific NPC Assignments</button>
        <button class="menuButton" ng-click="currentSettingsDisplay = 'blockList'; refreshFilters()">Block List</button>
    </section>
</section>

<section class="global-section" id="main-section" ng-if="currentSettingsDisplay === 'main'">
    <h3>Main Menu</h3>

    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.changeNPCappearance"/>
        <span>Apply Assets from Config Files</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If enabled, zEBD will read in asset pack config files (e.g. textures and meshes) and apply them to NPCs.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.changeHeight"/>
        <span>Customize Character Heights</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If enabled, zEBD will adjust the base racial heights and/or randomize the individual NPC heights.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.bEnableBodyGenIntegration"/>
        <span>Enable RaceMenu BodyGen Integration</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If enabled, zEBD will create templates.ini and morphs.ini files, supplying body morphs to RaceMenu.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.bAbortIfPathWarnings"/>
        <span>Abort patching if required assets are not found at the expected paths</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If enabled, zEBD will stop patching if any loaded config files contain file paths that don't exist. If you disable this, be warned that your NPCs can turn blue when the game can't find the given file.</span>
    </label>
    <br>
    <label>
        <label class="tooltip">
            <input type="checkbox" ng-model="settings.zEBD.bEnableConsistency"/>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If enabled, zEBD will apply the same settings (assets, height, and/or BodyGen) to previously patched NPCs.</span>
            <span>Enable Consistency</span>
        </label>
        <br>
        <span>  Clear </span>
        <button ng-click="clearConsistency('assets')">Textures & Meshes</button>
        <button ng-click="clearConsistency('height')">Height</button>
        <button ng-click="clearConsistency('bodygen')">BodyGen</button>
        <button ng-click="clearConsistency('all')">All</button>
        <span> consistency data</span>
    </label>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.bLinkNPCsWithSameName"/>
        <span>Link multiple instances of the same NPC</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Apply the same settings to NPC records with the same name, race, and gender (e.g. the different NPC records for Cicero).</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.bLoadFromData" ng-click = "toggleLoadPath(settings.zEBD.bLoadFromData)"/>
        <span>Load settings from Data folder instead of zEBD folder</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If enabled, zEBD will load asset packs, height configuration, BodyGen configuration, specific NPC assignments, and block list from Data\zEBD instead of zEdit\modules\zEBD</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.btooltips"/>
        <span>Display Tooltips</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Display tooltips such as this one to describe what each setting controls.</span>
    </label>
    <br>  
    <br>
    <label>
        <span>Patchable Races</span>
        <label class="tooltip">
            <button ng-click = "getAvailableRaces()">Get All Available Races</button>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Search load order for additional patchable races</span>
        </label>        
    </label>
    <div  ng-repeat="race in settings.zEBD.patchableRaces track by $index">
        <select ng-model="settings.zEBD.patchableRaces[$index]" ng-options="rOption for rOption in availableRaces" ng-change="updateAvailableRacesAndGroups()"></select>
        <button ng-click="removePatchableRace($index)">Remove</button>
    </div>
    <button ng-click="addPatchableRace()">Add New</button>
    <br>
    <br>
    <label>
        <label class="tooltip">
            <span>Group Definitions</span>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">These groups can be used anywhere you see "Allowed Races" or "Disallowed Races"</span>
        </label>
        <button ng-click = "saveGroupDefs()">Save Group Definitions</button>
    </label>
    <div class="bgTemplate" ng-repeat="RG in raceGroupDefinitions track by $index">
        <input type="text" ng-model="raceGroupDefinitions[$index].name">
        <input type="checkbox" ng-model="displayRGmembers[$index]"/>
        <span>Show members</span>
        <button ng-click = "removeGroupDef($index)">Remove</button>
        <div ng-if="displayRGmembers[$index]">
            <ul>
                <div ng-repeat="race in RG.entries track by $index">
                    <select ng-model="RG.entries[$index]" ng-options="rOption for rOption in availableRaces" ng-change="updateAvailableRacesAndGroups()"></select>
                    <button ng-click="removeRacefromGroupDef(RG, $index)">Remove</button>
                </div>
            </ul>
        </div>
        <button ng-click="addRaceToGroup($index)">Add Race</button>
    </div>
    <br>
    <button ng-click="addNewGroupDef()">Add New Group</button>
    <br>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.showMiscSettings"/>
        <span>Show Miscellaneous Settings</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">You probably don't need to touch these settings, but if you insist...</span>
    </label>

    <section ng-if="settings.zEBD.showMiscSettings">
        <label class="tooltip">
            <input type="checkbox" ng-model="settings.zEBD.excludePC"/>
            <span>Exclude player character</span>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If checked, your character will not be patched</span>
        </label>
        <br>
        <label class="tooltip">
            <input type="checkbox" ng-model="settings.zEBD.excludePresets"/>
            <span>Exclude player character presets</span>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If checked, presets for your character will not be patched</span>
        </label>
        <br>
        <br>
        <label class="tooltip">
            <span>Path Trimming</span>
            <button ng-click = "saveTrimPaths()">Save Path Trimming Settings</button>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">For each asset file path that contains the file extension in box 1, the text in box 2 will be removed from its path when it is added to a record. This is because (i.e.) for a texture, Skyrim assumes the file path starts with \"data\textures\".</span>
        </label>
        <div ng-repeat="trimpath in trimPaths track by $index">
            <input type="text" ng-model="trimPaths[$index].extension">
            <input type="text" ng-model="trimPaths[$index].pathToTrim">
            <button ng-click="removeTrimPath($index)">Remove</button>
        </div>
        <button ng-click="addTrimPath()">Add new trim path</button>
        <br>
        <br>
        <label class="tooltip">
            <span>Exclusions to NPC Linkage</span>
            <button ng-click = "saveNPCLinkageExclusions()">Save NPC Linkage Exclusions</button>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">The NPCs with the following names will not be linked together by name/race/gender even if their unique flag is set to true. Not case-sensitive.</span>
        </label>
        <div ng-repeat="exlusion in LinkedNPCNameExclusions track by $index">
            <input type="text" ng-model="LinkedNPCNameExclusions[$index]">
            <button ng-click="removeLinkedNPCExclusion($index)">Remove</button>
        </div>
        <button ng-click="addLinkedNPCExclusion()">Add new excluded name</button>
        <br>
        <br>
        <label class="tooltip">
            <span>Specifically linked NPCs</span>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">The groups selected in this list will have the same textures, height, and/or BodyGen applied to them.</span>
        </label>
        <br>
        <button ng-click = "saveSpecificNPCLinkages()">Save linked NPC list</button>
        <br>
        <span>Current Link Group: </span>
        <select ng-model="currentLinkGroup" ng-options="linkGroup.name for linkGroup in linkGroups"></select>
        <br>
        NPCs in current Link Group:
        <div ng-repeat="NPC in currentLinkGroup.NPCs track by $index">
            {{NPC.displayString}}
            <button ng-click="removeLinkedNPC(currentLinkGroup, $index)">Remove</button>
        </div>
        <br>
        <button ng-click="addLinkGroup(newLinkGroupName)">Create a new Link Group</button>
        Link Group Name: 
        <input type="text" ng-model="newLinkGroupName">
        <br>
        <br>
        <label class="tooltip">
            <button ng-click="loadNPCs()">Load NPCs from Mods</button>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Fills list with all NPCs in your load order. This can take a minute or so.</span>
        </label>
        <br>
        <div class="tooltip">
            <span>Search filter: </span><input type="text" ng-model="NPCfilter" ng-change= "updateDisplayedNPCs(NPCfilter)">
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Type the name of the NPC that you're searching for to narrow down the list.</span>
        </div>
        <span>
            <select class="NPCselect" ng-model="currentNPC" ng-options="NPC.displayString for NPC in displayedNPCs" size="5"></select>
        </span>
        <br>
        <label>
            <button ng-click="addNPCtoLinkGroup(currentNPC, currentLinkGroup)">Add Selected NPC to the current Link Group</button>
        </label>
    </section>
</section>

<!-- ASSET PACK CONFIG -->

<section ng-if="currentSettingsDisplay === 'assetPack'" class="ebd-section">
    <h3>General Settings</h3>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.changeTextures"/>
        <span>Change NPC Textures</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Change NPCs' textures to those supplied by config files</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.changeMeshes"/>
        <span>Change NPC Meshes</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Change NPCs' meshes to those supplied by config files</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.changeNPCsWithWNAM"/>
        <span>Apply to NPCs with custom skins</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If disabled, NPCs with assigned WNAM records will be skipped</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.changeNPCsWithFaceParts"/>
        <span>Apply to NPCs with custom faces</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If disabled, NPCs with assigned Head Parts\*\Face records will be skipped. Note that if enabled, the NPC's face shape will not be affected; only the texture will be updated to match the assigned body texture.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.displayAssetPackAlerts"/>
        <span>Display popup alerts from Asset Settings Packs</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Some config files come with warnings. If enabled, these warnings will be shown as popups when entering the settings menu.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.bGeneratePermutationLog"/>
        <span>Generate permutation assignment log</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Generates a detailed log containing all generated permutations, what distribution rules they follow, and which NPCs they were assigned to. Located in zEBD\Logs\PermutationsGenerated.txt.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.permutationBuildUpLogger"/>
        <span>Generate permutation buildup log</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Generates a detailed log showing how subgroups in config files are combined step-by-step into permutations. Useful for config file development. Located in zEBD\Logs\PermutationBuildupLog.txt.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.savePermutations"/>
        <span>Save generated permutations to file</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Saves the permutations generated from the config files to a set of files located in zEBD\NPC Configuration. Files: GeneratedPermutations.json, GeneratedRecords.json, GeneratedRecordsMaxPriority.json, GeneratedLinkageList.json</span>
    </label>
    <button ng-click="deleteSavedPermutations()">Delete Saved Permutations</button>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.loadPermutations"/>
        <span>Load generated permutations from file</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">If permutations generated by the previous zEBD run were saved, they will be loaded instead of being created from config files. This will save a considerable amount of patching time, but any updates to the config files since the save will be ignored.</span>
    </label>
    <br>
    <label class="tooltip">
        <button ng-click="validateAssetPackSettings()">Validate Configurations</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Checks your currently installed config files for errors. Any errors will be logged in your zEBD\Logs directory.</span>
    </label>
    <br>
    <h3>Asset Pack Configuration Menu</h3>
    <div class="group" ng-repeat="assetPackSetting in assetPackSettings track by $index" id="per-config">
        <label>
            <span class="input-label">Group Name</span>
            <input style="width:60%" type="text" ng-model="assetPackSetting.groupName">
        </label>

        <label>
            <span class="input-label">Gender</span>
            <select ng-model="assetPackSetting.gender" ng-options="x for x in genderOptions"></select>
        </label>

        <label>
            <input type="checkbox" ng-model="assetPackSetting.displayAlerts"/>
            <span>Display alerts from this pack</span>
        </label>

        <label>
            <span class="input-label">Alert to show:</span>
            <input style="width:60%" type="text" ng-model="assetPackSetting.userAlert">
        </label>

        <display-subgroups data="assetPackSetting.subgroups" bgintegration = "settings.zEBD.bEnableBodyGenIntegration" bgdescriptors = "bodyGenConfig.templateDescriptors" racesandgroups = "racesAndGroups" btooltips = "settings.zEBD.btooltips"></display-subgroups>
        <button ng-click="addSubgroupTop($index)">Add New Subgroup</button>

        <button ng-click="saveAssetPackSetting(assetPackSetting)">Save</button>
    </div>

    <button ng-click="newAssetPackSettings()">New Asset Pack Settings</button>
</section>

<!-- HEIGHT CONFIG -->

<section class="height-section" ng-if="currentSettingsDisplay === 'height'" >
    <h3>Height Configuration Menu</h3>
    <button ng-click="saveHeightConfig()">Save Height Configuration</button>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.changeNPCHeight"/>
        <span>Change NPC Record Height</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Randomizes NPC heights to 1 +/- the bounds configured in the menu below.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type="checkbox" ng-model="settings.zEBD.changeRaceHeight"/>
        <span>Change Race Record Height</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Changes base racial heights to the values configured in the menu below.</span>
    </label>
    <br>
    <label class="tooltip">
        <input type = "checkbox" ng-model="settings.zEBD.changeNonDefaultHeight"/>
        <span>Overwrite Non-Default NPC Heights</span>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Some NPCs already have a height that is not "1.000000". If unchecked, the height of such NPCs will not be altered.</span>
    </label>
    <div>
        <label class="tooltip">
            <span>Racial Height Presets:</span>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Apply base racial heights from one of the selected presets.</span>
        </label>
        <select ng-model="heightGlobals.currentHeightPreset" ng-options="preset.name for preset in heightPresets"></select>
        <button ng-click="applyHeightPreset()">Apply</button>
    </div>

    <div class="racial-settings" >   
        <div class="racial-setting" ng-repeat="race in heightConfiguration track by $index">
            <label>
            <span>Race</span>
            <select class = "raceTextInput" ng-model="heightConfiguration[$index].EDID" ng-options="rOption for rOption in availableRaces"></select>
            </label>
            <label>
            <span>Distribution Mode</span>
            <select ng-model= "heightConfiguration[$index].distMode" ng-options="x for x in heightDistOptions"></select>
            </label>
            <label>
            <span>Base Male Height</span>
            <input class = "raceTextInput" type="text" ng-model="heightConfiguration[$index].heightMale" ng-change="validateNumString(heightConfiguration[$index].heightMale, 'Height')">
            </label>
            <label>
            <span>Male Height +/-</span>
            <input class = "raceTextInput" type="text" ng-model="heightConfiguration[$index].heightMaleRange" ng-change="validateNumString(heightConfiguration[$index].heightMaleRange, 'Height')">
            </label>
            <label>
            <span>Base Female Height</span>
            <input class = "raceTextInput" type="text" ng-model="heightConfiguration[$index].heightFemale" ng-change="validateNumString(heightConfiguration[$index].heightFemale, 'Height')">
            </label>
            <label>
            <span>Female Height +/-</span>
            <input class = "raceTextInput" type="text" ng-model="heightConfiguration[$index].heightFemaleRange" ng-change="validateNumString(heightConfiguration[$index].heightFemaleRange, 'Height')"> 
            </label>

            <div class="remove-item" ng-click="removeHeightConfig($index)">
            </div>
        </div>
    </div>

    <button ng-click="addHeightConfig()">Add New Race Height Configuration</button>
    <button ng-click="applyHeightsFromPlugins()">Get Heights from Load Order</button>

    <div>
        <label>
            <span>Global Distribution Mode</span>
            <select style="width:15%" ng-model="heightGlobals.distModeGlobal" ng-options="x for x in heightDistOptions"></select>
            <button ng-click="applyGlobalDistMode()">Apply To All</button>
        </label>
    </div>

    <div>
        <label>
            <span>Height +/-</span>
            <input type="text" style="width:15%" ng-model="heightGlobals.heightRangeGlobal" ng-change="validateNumString(heightGlobals.heightRangeGlobal, 'Height')">
            <button ng-click="applyGlobalHeightRange()">Apply To All</button>
        </label>
    </div>
</section>

<!-- BODYGEN CONFIG -->

<section ng-if="currentSettingsDisplay === 'bodygen'">
    <h3>BodyGen Integration Menu</h3>
    <label class = "tooltip">
        <button ng-click="saveBodyGenConfig()">Save Current Configuration</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Saves current BodyGen settings (body morph group assignments, template settings, group list, and descriptor list). These settings can be imported by another user.</span>
    </label>
    <br>
    <br>
    <label class = "tooltip">
        <button class="TDButton" ng-click="selectBodyGenConfigFile()">Import a BodyGen zEBD Config File</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Imports zEBD group assignments, morphs/rulesets, groups, and descriptors from a zEBD BodygenConfig.json file.</span>
    </label>
    <br>
    <br>
    <label class = "tooltip">
        <button ng-click="setRaceMenuConfig()">Set RaceMenu BodyGen ini file</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Edits the RaceMenu skee64.ini to the correct settings for BodyGen.</span>
    </label>
    <br>
    <br>
    <div class = "tooltip">
        <span>Show Body Morph Assignments For: </span>
        Male <input type="checkbox" ng-model="displayMaleConfig"/> 
        Female <input type="checkbox" ng-model="displayFemaleConfig"/>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">These settings dictate (per-race) which BodyGen morphs can be assigned to a given NPC. In this menu you can select the assigned morph groups.</span>
    </div>
    <br>
    <div ng-if="displayMaleConfig">
        <div class="bgTemplate" ng-repeat="maleAssignment in bodyGenConfig.racialSettingsMale" >
            <label class = "tooltip">
                <span>Race </span>
                <select ng-model="bodyGenConfig.racialSettingsMale[$index].EDID" ng-options="rOption for rOption in availableRaces"></select>
                <button class="TDButton" ng-click="removeBodyGenMaleConfig($index)">Remove</button>
                <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Race for which the morph groups below will be used.</span>
            </label>
            <div>
                <label class = "tooltip">
                    <span>Assigned Template Group Combinations</span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">One of the group combinations below will be selected for each given NPC. For each group within the combination, a morph belonging to that group will be picked at random.</span>
                </label>
                <div class="Combinations" ng-repeat="combination in maleAssignment.combinations track by $index">
                    <ul>
                        {{$index + 1}}: 
                        <span class = "Combination" ng-repeat="item in combination.members track by $index">
                            <select class="smallSelect" ng-model="combination.members[$index]" ng-options="x for x in BodyGenItemDisplay"></select>
                        </span>
                        <button class="TDButton" ng-click="addBodyGenItem(combination)">Add Group</button>
                        <br>
                        <label class="tooltip">
                            <span>Distribution Probability Weight</span>
                            <input style="width:7%" type="number" ng-model="combination.probabilityWeighting">
                            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Relative chance that this template group gets picked relative to the other choices.</span>
                        </label>
                        <br>
                        <button class="TDButton" ng-click="removeBodyGenCombo(maleAssignment, $index)">Remove Combo</button>
                    </ul>
                </div>
                <button class="TDButton" ng-click="addBodyGenCombo(maleAssignment.combinations)">Add New Combination</button>
            </div>
        </div>
        <button class="TDButton" ng-click="addBodyGenMaleConfig()">Add New Male Config</button>
        <br>
    </div>

    <div ng-if="displayFemaleConfig">
        <div class="bgTemplate" ng-repeat="femaleAssignment in bodyGenConfig.racialSettingsFemale" >
            <label class = "tooltip">
                <span>Race </span>
                <select ng-model="bodyGenConfig.racialSettingsFemale[$index].EDID" ng-options="rOption for rOption in availableRaces"></select>
                <button class="TDButton" ng-click="removeBodyGenFemaleConfig($index)">Remove</button>
                <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Race for which the morph groups below will be used.</span>
            </label>
            <div>
                <label class = "tooltip">
                    <span>Assigned Template Group Combinations</span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">One of the group combinations below will be selected for each given NPC. For each group within the combination, a morph belonging to that group will be picked at random.</span>
                </label>
                <div class="Combinations" ng-repeat="combination in femaleAssignment.combinations track by $index">
                    <ul>
                        {{$index + 1}}: 
                        <span class = "Combination" ng-repeat="item in combination.members track by $index">
                            <select class="smallSelect" ng-model="combination.members[$index]" ng-options="x for x in BodyGenItemDisplay"></select>
                        </span>
                        <button class="TDButton" ng-click="addBodyGenItem(combination)">Add Group</button>
                        <br>
                        <label class="tooltip">
                            <span>Distribution Probability Weight</span>
                            <input style="width:7%" type="number" ng-model="combination.probabilityWeighting">
                            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Relative chance that this template group gets picked relative to the other choices.</span>
                        </label>
                        <br>
                        <button class="TDButton" ng-click="removeBodyGenCombo(femaleAssignment, $index)">Remove Combo</button>
                    </ul>
                </div>
                <button class="TDButton" ng-click="addBodyGenCombo(femaleAssignment.combinations)">Add New Combination</button>
            </div>
        </div>
        <button class="TDButton" ng-click="addBodyGenFemaleConfig()">Add New Female Config</button>
        <br>
    </div>

    <label class = "tooltip">
        <button class="TDButton" ng-click="selectBodyGenTemplateFile()">Import a BodyGen Template INI File</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Imports BodyGen morphs from a RaceMenu templates.ini file.</span>
    </label>
    <br>
    <label class = "tooltip">
        <button class="TDButton" ng-click="selectBodyGenMorphsFile()">Import a BodyGen Morphs INI File</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Imports BodyGen morph assignments from a RaceMenu templates.ini file.</span>
    </label>
    <br>
    <br>
    <label class = "tooltip">
        Show Template Settings <input type="checkbox" ng-model="displayTemplates"/>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">These settings allow you to customize the distribution rules for each available BodyGen morph.</span>
    </label>
    <br>
    <br>
    <div  ng-if="displayTemplates">
        <div class="bgTemplate" ng-repeat="template in bodyGenConfig.templates track by $index">
            <label>
                <input type="text" ng-model="bodyGenConfig.templates[$index].name">
                 (Details<input type="checkbox" ng-model="BodyGenTemplateDisplay[$index].showDetails"/>) 
                <button ng-click="removeBodyGenTemplate($index)">Remove</button>
            </label>
            <label>
            <section ng-if="BodyGenTemplateDisplay[$index].showDetails">
                <label class = "tooltip">
                    <span>Gender</span>
                    <select ng-model="bodyGenConfig.templates[$index].gender" ng-options="x for x in genderOptions"></select>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Gender to which this morph can be applied.</span>
                </label>
                <br>
                <br>
                <label class = "tooltip">
                    <span>Morph</span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Slider settings for this morph.</span>
                </label>
                <textarea class="inputLarge" ng-model="bodyGenConfig.templates[$index].params"></textarea>

                <br>
                <label class = "tooltip">
                    <span>Belongs to Groups
                        <button class="TDButton" ng-click="addBelongGroupBodyGen($index)">Add New</button>
                    </span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">The groups to which this morph belongs. When an NPC receives a morph group combination that contains this group, this morph will be eligible for selection.</span>
                </label>
                <ul>
                    <div class="belongGroups" ng-repeat="BG in template.groups track by $index">
                        <select ng-model="template.groups[$index]" ng-options="tg for tg in bodyGenConfig.templateGroups"></select>
                        <button class="TDButton" ng-click="removeBelongGroupBodyGen(template, $index)">Remove</button>
                    </div>
                </ul>
                <br>

                <label class = "tooltip">
                    <span>Descriptors
                        <button class="TDButton" ng-click="addBodyGenDescriptor($index)">Add New</button>
                        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Descriptors that describe this morph. This is how the texture selection process can communicate with the BodyGen selection process. Texture subgroups can require or exclude specific descriptors.</span>
                    </span>
                </label>
                <ul>
                    <div class="Descriptors" ng-repeat="desc in template.descriptors track by $index">
                        <select ng-model="template.descriptors[$index]" ng-options="td for td in bodyGenConfig.templateDescriptors"></select>
                        <button class="TDButton" ng-click="removeBodyGenDescriptor(template, $index)">Remove</button>
                    </div>
                </ul>
                <br>

                <label class = "tooltip">
                    <span>Allowed Races
                        <button class="TDButton" ng-click="addAllowedRaceBodyGen($index)">Add New</button>
                    </span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Races to which this morph can be assigned. If empty, morph can be assigned to all races.</span>
                </label>
                <ul>
                    <div class="allowedRaces" ng-repeat="a in template.allowedRaces track by $index">
                        <select ng-model="template.allowedRaces[$index]" ng-options="rOption for rOption in racesAndGroups"></select>
                        <button class="TDButton" ng-click="removeAllowedRaceBodyGen(template, $index)">Remove</button>
                    </div>
                </ul>

                <label class = "tooltip">
                    <span>Disallowed Races
                        <button class="TDButton" ng-click="addDisallowedRaceBodyGen($index)">Add New</button>
                    </span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Races to which this morph cannot be assigned. Dominant over Allowed Races.</span>
                </label>
                <ul>
                    <div class="disallowedRaces" ng-repeat="a in template.disallowedRaces track by $index">
                        <select ng-model="template.disallowedRaces[$index]" ng-options="rOption for rOption in racesAndGroups"></select>
                        <button class="TDButton" ng-click="removeDisallowedRaceBodyGen(template, $index)">Remove</button>
                    </div>
                </ul>

                <label class = "tooltip">
                    <span>Allowed Attributes
                        <button class="TDButton" ng-click="addAllowedAttributeBodyGen($index)">Add New</button>
                    </span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Elements (box 1) and element values (box 2) that NPCs must possess to be assigned this morph. See documentation for details.</span>
                </label>
                <ul>
                    <div class="allowedAttributes" ng-repeat="a in template.allowedAttributes track by $index">
                        <input type="text" ng-model="template.allowedAttributes[$index][0]">
                        <input type="text" ng-model="template.allowedAttributes[$index][1]">
                        <button class="TDButton" ng-click="removeAllowedAttributeBodyGen(template, $index)">Remove</button>
                    </div>
                </ul>

                <label class = "tooltip">
                    <span>Disallowed Attributes
                        <button class="TDButton" ng-click="addDisallowedAttributeBodyGen($index)">Add New</button>
                    </span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Elements (box 1) and element values (box 2) that NPCs may not possess to be assigned this morph. See documentation for details.</span>
                </label>
                <ul>
                    <div class="disallowedAttributes" ng-repeat="a in template.disallowedAttributes track by $index">
                        <input type="text" ng-model="template.disallowedAttributes[$index][0]">
                        <input type="text" ng-model="template.disallowedAttributes[$index][1]">
                        <button class="TDButton" ng-click="removeDisallowedAttributeBodyGen(template, $index)">Remove</button>
                    </div>
                </ul>

                <label class = "tooltip">
                    <span>ForceIf Attributes
                        <button class="TDButton" ng-click="addForceIfAttributeBodyGen($index)">Add New</button>
                    </span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Elements (box 1) and element values (box 2) that, if an NPC possesses, will force this morph to be assigned. See documentation for details.</span>
                </label>
                <ul>
                    <div class="allowedAttributes" ng-repeat="a in template.forceIfAttributes track by $index">
                        <input type="text" ng-model="template.forceIfAttributes[$index][0]">
                        <input type="text" ng-model="template.forceIfAttributes[$index][1]">
                        <button class="TDButton" ng-click="removeForceIfAttributeBodyGen(template, $index)">Remove</button>
                    </div>
                </ul>

                <div class = "tooltip">
                    <span>Allowed Weight Range</span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Miminal (box 1) and maximal values (box 2) (inclusive) for this morph to be assigned.</span>
                    <input type="number" ng-model="template.weightRange[0]">
                    <input type="number" ng-model="template.weightRange[1]">
                </div>

                <label class = "tooltip">
                    <input type="checkbox" ng-model="template.allowRandom">
                    <span>Distribute to Random NPCs</span>
                    <span class="tooltiptext" ng-if = "btooltips">If unchecked, this morph will not be distributed to NPCs unless called for by your specific NPC assignments list.</span>
                </label>
                <br>
                <label class = "tooltip">
                    <input type="checkbox" ng-model="template.allowUnique">
                    <span class="tooltiptext" ng-if = "btooltips">If unchecked, this morph will not be distributed to NPCs flagged as "unique".</span>
                    <span>Allow Unique NPCs</span>
                </label>
                <br>
                <label class = "tooltip">
                    <input type="checkbox" ng-model="template.allowNonUnique">
                    <span class="tooltiptext" ng-if = "btooltips">If unchecked, this morph will not be distributed to NPCs not flagged as "unique".</span>
                    <span>Allow Non-Unique NPCs</span>
                </label>
                <br>
                <label class = "tooltip">
                    <span>Distribution Probability Weight</span>
                    <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Multiplier dictating the relative chance of NPCs getting this template compared to other templates in the same group.</span>
                    <input type="number" ng-model="template.probabilityWeighting">
                </label>
            </section> 
        </div>
        <button ng-click="addBodyGenTemplate()">Add new BodyGen morph template</button>
    </div>
    <label class = "tooltip">
        <span>Show Template Group List</span>
        <input type="checkbox" ng-model="displayTemplateGroups"/>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">BodyGen Templates listed above can be assigned to one or more of the groups below.</span>
    </label>
    <div ng-if="displayTemplateGroups">
        <div class="templateGroups" ng-repeat="tG in bodyGenConfig.templateGroups track by $index" >
            <input type="text" ng-model="bodyGenConfig.templateGroups[$index]" ng-change="updateBodyGenItemDisplay()">
            <button class="TDButton" ng-click="removeTemplateGroupBodyGen($index)">Remove</button>
        </div>
        <button class="TDButton" ng-click="addTemplateGroupBodyGen()">Add New Template Group</button>
    </div>
    <br>
    <br>
    <label class = "tooltip">
        <span>Show Template Descriptor List</span>
        <input type="checkbox" ng-model="displayTemplateDescriptors"/>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">BodyGen Templates listed above can be assigned one or more of the descriptors below. The descriptor must be in the format "Category: Description".</span>
    </label>
    <div ng-if="displayTemplateDescriptors">
        <div class="templateDescriptors" ng-repeat="tD in bodyGenConfig.templateDescriptors track by $index" >
            <input type="text" ng-model="bodyGenConfig.templateDescriptors[$index]" ng-blur="validateTemplateDescriptorBodyGen($index)">
            <button class="TDButton" ng-click="removeTemplateDescriptorBodyGen($index)">Remove</button>
        </div>
        <button class="TDButton" ng-click="addTemplateDescriptorBodyGen()">Add New Template Descriptor</button>
    </div>
    
</section>

<section ng-if="currentSettingsDisplay === 'forcedNPCs'">
    <h3>Forced Assignment Menu</h3>
    <div>
        <button ng-click="saveForceList()">Save Forced NPC List</button>
    </div>
    <br>
    <label>
        <span>Forced NPC Settings: </span>
        <span>
            <select class="forceNPCselect" ng-model="currentForcedNPC" ng-options="NPC.displayString for NPC in forcedNPCAssignments" ng-change="choosePacksForNPC(currentForcedNPC); chooseSubgroupsForPack(currentForcedNPC.forcedAssetPack, currentForcedNPC.forcedSubgroups); chooseBodyGenForCurrentNPC(currentForcedNPC)"></select>
        </span>
    </label>

    <section>
        <label>Name: {{currentForcedNPC.name}}</label>
        <label>Editor ID: {{currentForcedNPC.EDID}}</label>
        <label>FormID: {{currentForcedNPC.formID}}</label>
        <label>Root Plugin: {{currentForcedNPC.rootPlugin}}</label>
        <div ng-if="settings.zEBD.changeNPCappearance">
            <div>
                <span>Forced Asset Pack</span>
                <select class="forceNPCAssetPackselect" ng-model="currentForcedNPC.forcedAssetPack" ng-options="name for name in availableAssetPackNames" ng-change="chooseSubgroupsForPack(currentForcedNPC.forcedAssetPack, currentForcedNPC.forcedSubgroups)"></select>
                <button ng-click="clearForcedAssetPack(currentForcedNPC)">Clear</button>
            </div>
            <div>
                <span>Forced Subgroups</span>
                <div ng-repeat="forcedSub in currentForcedNPC.forcedSubgroups track by $index">
                    <select ng-model="currentForcedNPC.forcedSubgroups[$index]" ng-options="subgroup.description for subgroup in availableSubgroups"></select>
                    <button ng-click="removeForcedSubgroup(currentForcedNPC, $index)">Remove</button>
                </div>
                <button ng-click="AddForcedSubgroup(currentForcedNPC)">Add Subgroup</button>
            </div>
        </div>
        <div ng-if="settings.zEBD.changeHeight">
            <span>Forced Height</span>
            <input type="text" ng-model="currentForcedNPC.forcedHeight" ng-change="validateNumString(currentForcedNPC.forcedHeight, 'Height')">
        </div>
        <div ng-if="settings.zEBD.bEnableBodyGenIntegration">
             <span>Forced BodyGen Morphs</span>
            <button ng-click="AddForcedMorph(currentForcedNPC)">Add Morph</button>
            <div ng-repeat="forcedMorph in currentForcedNPC.forcedBodyGenMorphs track by $index">
                <select ng-model="currentForcedNPC.forcedBodyGenMorphs[$index]" ng-options="morph for morph in availableBodyGenMorphs"></select>
                <button ng-click="removeForcedMorph(currentForcedNPC, $index)">Remove</button>
            </div>               

        </div>
        <button ng-click="removeNPCfromForceList(currentForcedNPC.formID, currentForcedNPC.rootPlugin)">Remove This NPC</button>
    </section>

    <br>
    <label class="tooltip">
        <button ng-click="loadNPCs()">Load NPCs from Mods</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Fills list with all NPCs in your load order. This can take a minute or so.</span>
    </label>
    <br>
    <div class="tooltip">
        <span>Search filter: </span><input type="text" ng-model="NPCfilter" ng-change= "updateDisplayedNPCs(NPCfilter)">
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Type the name of the NPC that you're searching for to narrow down the list.</span>
    </div>
    <span>
        <select class="NPCselect" ng-model="currentNPC" ng-options="NPC.displayString for NPC in displayedNPCs" size="5"></select>
    </span>
    <br>
    <label>
        <button ng-click="addNPCtoForceList(currentNPC)">Add Selected NPC to Force List</button>
    </label>
    <div>
        Remove selected NPC's assigned 
        <button ng-click="removeNPCinfoFromConsistency(currentNPC, 'assets')">assets</button>
        <button ng-click="removeNPCinfoFromConsistency(currentNPC, 'height')">height</button>
        <button ng-click="removeNPCinfoFromConsistency(currentNPC, 'bodygen')">BodyGen</button>
        from consistency
    <div>
</section>

<section ng-if="currentSettingsDisplay === 'blockList'">
    <div>
        <button ng-click="saveBlockList()">Save Block List</button>
    </div>
    <br>
    <h3>Blocked NPCs:</h3>
    <div ng-repeat="NPC in blockList.blockedNPCs track by $index">
        {{NPC.displayString}}: Assets<input type="checkbox" ng-model="NPC.bBlockAssets"> Height<input type="checkbox" ng-model="NPC.bBlockHeight"> BodyGen<input type="checkbox" ng-model="NPC.bBlockBodyGen">  
        <br>
        <button ng-click="removeBlockedNPC($index)">Remove</button>
    </div>
    <br>
    <h3>Blocked Plugins:</h3>
    <div ng-repeat="plugin in blockList.blockedPlugins track by $index">
        {{plugin.name}}: Assets<input type="checkbox" ng-model="plugin.bBlockAssets"> Height<input type="checkbox" ng-model="plugin.bBlockHeight"> BodyGen<input type="checkbox" ng-model="plugin.bBlockBodyGen"> 
        <br>
        <button ng-click="removeBlockedPlugin($index)">Remove</button>
    </div>
    <br>
    <div>
        <label>Available NPCs</label>
        <div class="tooltip">
            <button ng-click="loadNPCs()">Load NPCs from Mods</button>
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Fills list with all NPCs in your load order. This can take a minute or so.</span>
        </div>
        <br>
        <div class="tooltip">
            <span>Search filter: </span><input type="text" ng-model="NPCfilter" ng-change= "updateDisplayedNPCs(NPCfilter)">
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Type the name of the NPC that you're searching for to narrow down the list.</span>
        </div>
    </div>
    <div>
        <select class="NPCselect" ng-model="currentNPC" ng-options="NPC.displayString for NPC in displayedNPCs" size="5"></select>
    </div>
    <br>
    <div class = "tooltip">
        Block NPC's 
        <button ng-click="addNPCtoBlockList(currentNPC, 'assets')">Assets</button>
        <button ng-click="addNPCtoBlockList(currentNPC, 'height')">Height</button>
        <button ng-click="addNPCtoBlockList(currentNPC, 'bodygen')">BodyGen</button>
        <button ng-click="addNPCtoBlockList(currentNPC, 'all')">All</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">The selected NPC will be skipped for the specified modifications.</span>
    </div>
    <br>
    <div>
        <label>Available Plugins</label>
        <div class="tooltip">
            <span>Search filter: </span><input type="text" ng-model="pluginFilter" ng-change= "updateDisplayedPlugins(pluginFilter)">
            <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">Type the name of the plugin that you're searching for to narrow down the list.</span>
        </div>
    </div>
    <span>
        <select class="NPCselect" ng-model="currentPlugin" ng-options="plugin for plugin in displayedPlugins" size="5"></select>
    </span>
    <br>
    <div class = "tooltip">
        Block plugin's 
        <button ng-click="addPluginToBlockList(currentPlugin, 'assets')">Assets</button>
        <button ng-click="addPluginToBlockList(currentPlugin, 'height')">Height</button>
        <button ng-click="addPluginToBlockList(currentPlugin, 'bodygen')">BodyGen</button>
        <button ng-click="addPluginToBlockList(currentPlugin, 'all')">All</button>
        <span class="tooltiptext" ng-if = "settings.zEBD.btooltips">NPCs that are affected by the selected plugin will be skipped for all modifications.</span>
    </div>
</section>
